.custom-changePasswordPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
  }
  
  .custom-password-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-password-card {
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 1.5vh;
    box-shadow: var(--card-shadow);
    text-align: center;
    width: 90%;
    max-width: 400px;
    color: var(--text-color);
    
  }
  
  .custom-password-title {
    font-size: 1.8rem;
  }
  
  .custom-password-input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1rem 0;
  }
  .custom-password-input-group span{
    color: red;
  }
  
  .custom-password-input-group label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
  }
  
  .custom-password-input-group input {
    padding: 1vh 1vw;
    border-radius: 1vh;
    border: none;
    outline: none;
    background: var(--glassy-color);
    color: var(--secondary-text-color);
    font-weight: bolder;
    font-size: var(--font-md);
  }
  .custom-password-input-group input::placeholder{
    color: var(--secondary-text-color);
  }
  
  .custom-save-btn {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    padding: 1vh 1vw;
    border-radius: 1vh;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .custom-password-card {
      width: 95%;
      padding: 1.5rem;
    }
  
    .custom-password-input-group input {
      font-size: 1rem;
    }
  
    .custom-save-btn {
      font-size: 1rem;
      padding: 1.5vh 4vw;
    }
  }
  